body{ background-color: rgb(232, 193, 247);}
.via{
    background-color: rgb(173, 243, 252);
} 
.vialactea{background-color: rgb(173, 243, 252);}
.origem{background-color:  rgb(173, 243, 252);}
.proceso{background-color:  rgb(173, 243, 252);}
.estrutura{background-color:  rgb(173, 243, 252);}